<div>
  <div class="header">
    <h2>Movimientos</h2>
  </div>

  <div class="toolbar">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Buscar movimientos..."
        [(ngModel)]="searchValue"
        (ngModelChange)="onSearchChange($event)"
      />
      <button *ngIf="searchValue" class="clear-btn" (click)="clearSearch()">✕</button>
    </div>

    <button class="new-btn" (click)="openModal('crear')">Nuevo</button>
  </div>

  <table class="table" *ngIf="items.length > 0; else noData">
    <thead>
    <tr>
      <th>Número de cuenta</th>
      <th>Tipo</th>
      <th>Saldo Inicial</th>
      <th>Estado</th>
      <th>Movimiento</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of items">
      <td>{{ c.numeroCuenta }}</td>
      <td>{{ c.tipoCuenta }}</td>
      <td>{{ c.saldoInicial | currency }}</td>
      <td>{{ c.estado ? 'Activo' : 'Inactivo' }}</td>
      <td>{{ c.tipoMovimientoId | movimientoDescripcion:c.valor }}</td>
      <td>
        <div class="actions">
          <button (click)="openModal('ver', c)">Ver</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <p>No hay movimientos registrados.</p>
  </ng-template>

  <app-movimiento-modal
    [visible]="modalVisible"
    [form]="form"
    [mode]="mode"
    [cuentas]="cuentas"
    [tiposMovimiento]="tiposMovimiento"
    (onSave)="save()"
    (onClose)="closeModal()"
  ></app-movimiento-modal>
</div>
